In [26]:
import numpy as np

import pandas as pd

In [6]:
arrayExemplo = np.array([3, 1, 5, 2, 4])
arrayOrdenado = np.sort(arrayExemplo)

print(f"Array feito de exemplo: {arrayExemplo}")
print(f"Array ordenado: {arrayOrdenado}")

Array feito de exemplo: [3 1 5 2 4]
Array ordenado: [1 2 3 4 5]

In [28]:
dados = {
    'Nome': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Idade': [25, 30, 35, 40, 20],
    'Salário': [5000, 6000, 7000, 8000, 4000]
}

dados

{'Nome': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
 'Idade': [25, 30, 35, 40, 20],
 'Salário': [5000, 6000, 7000, 8000, 4000]}

In [29]:
dadosDF = pd.DataFrame(dados)

dadosDF

      Nome  Idade  Salário
0    Alice     25     5000
1      Bob     30     6000
2  Charlie     35     7000
3    David     40     8000
4      Eva     20     4000

In [31]:
dadosOrdenadoIdade = dadosDF.sort_values(by=['Idade', 'Salário'])

dadosOrdenadoIdade

      Nome  Idade  Salário
4      Eva     20     4000
0    Alice     25     5000
1      Bob     30     6000
2  Charlie     35     7000
3    David     40     8000